.discount-banner {
  background-color: #000;
  color: #fff;
  padding: 10px;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1100; /* Увеличен z-index, чтобы баннер был выше хедера */
  transition: top 0.3s ease;
  height: auto; /* Автоматическая высота для динамического контента */
}

.discount-banner.hidden {
  top: -50px; /* Скройте баннер, сдвигая его вверх */
}

.close-btn {
  font-size: 18px;
  cursor: pointer;
  margin-left: 15px;
}